img {
  margin-top: 20px;
  width: 700px;
  height: 700px;
  border-radius: 350px;
}

div {
  font-size: 65px;
}

body {
  font-family: Gill Sans, sans-serif;
  background-color: mediumaquamarine;
  text-align: center;
}

h1 {
  font-size: 85px;
}

p {
  font-size: 45px;
}

h3 {
  font-size: 50px;
}
